@model CIOS.Models.CSPersonnel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>CSPersonnel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProfile.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.firstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.firstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.middleName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.middleName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.isActive)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.isActive)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lastAccess)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lastAccess)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
