@model IEnumerable<CIOS.Models.StudentDropbox>
<div id="deliverable">
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quiz)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.memo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.paper)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.exitInterview)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.eval)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quiz)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.memo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.paper)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.exitInterview)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.eval)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.dropboxId  })
        </td>
    </tr>
}

</table>
    </div>