@model CIOS.Models.EmailVer
@{
    ViewBag.Title = "ForgotPassword";
}

@using(Html.BeginForm(FormMethod.Post))
{
     
    @*<p> Enter Email Address: </p>
    <input type="text" name="Email" />*@
    @Html.LabelFor(m => m.email)
    <br />
    @Html.TextBoxFor(m => m.email, new { Name = "Email" }) <span> </span>
    @Html.ValidationSummary(true)
    @Html.ValidationMessageFor(m => m.email)
    <br /><br />
    <input type="submit" value ="Submit"/>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}